@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body,
material-app,
mat-sidenav-container,
.view-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: ghostwhite;
}

div.content-margin {
    margin: 16px;
    height: 100vh;
}