@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background: ghostwhite;
    margin: 0px;
    height: 100vh;
}

div.content-margin {
    margin: 16px;
    height: 100vh;
}